{% extends "students/base.html" %}

{% block title %}
Take Quiz
{% endblock %}

{% block content %}
  <h2>{{ quiz.title }}</h2>
  <form method="POST">
    {% csrf_token %}
    {% for question in quiz.questions.all %}
      <div>
        <p>{{ question.text }}</p>
        {% if question.question_type == 'MCQ' %}
          <input type="radio" name="question_{{ question.id }}" value="{{ question.mcqquestion.choice1 }}"> {{ question.mcqquestion.choice1 }}<br>
          <input type="radio" name="question_{{ question.id }}" value="{{ question.mcqquestion.choice2 }}"> {{ question.mcqquestion.choice2 }}<br>
          <input type="radio" name="question_{{ question.id }}" value="{{ question.mcqquestion.choice3 }}"> {{ question.mcqquestion.choice3 }}<br>
          <input type="radio" name="question_{{ question.id }}" value="{{ question.mcqquestion.choice4 }}"> {{ question.mcqquestion.choice4 }}<br>
        {% elif question.question_type == 'TRUE_FALSE' %}
          <input type="radio" name="question_{{ question.id }}" value="True"> True<br>
          <input type="radio" name="question_{{ question.id }}" value="False"> False<br>
        {% elif question.question_type == 'SHORT' %}
          <input type="text" name="question_{{ question.id }}" placeholder="Your answer">
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit">Submit Quiz</button>
  </form>
{% endblock %}