{% extends "admins/base.html" %}

{% block title %}
Create Question
{% endblock %}

{% block content %}
<h2>Create a New Question</h2>
<form method="post">
    {% csrf_token %}
    {{ question_form.as_p }}
    {{ choice_formset.management_form }}
    <h3>Choices</h3>
    {% for form in choice_formset %}
        <div>
            {{ form.as_p }}
        </div>
    {% endfor %}
    <button type="submit">Create Question</button>
</form>
<a href="{% url 'admin_dashboard' %}">Back to Admin Dashboard</a>
{% endblock %}
